Q1: The FIPS for New Mexico is 35

In [ ]:
SELECT fips, name FROM name WHERE name = 'New Mexico'

Q2: List each yearâ€™s population for New Mexico from 2005 to 2019.

In [ ]:
SELECT year, population 
FROM population 
WHERE fips = '35' AND year BETWEEN 2005 AND 2019 
ORDER BY year ASC;

Q3: Calculate the average income of New Mexico across all available years

In [ ]:
SELECT name, AVG(income) AS avg_income
FROM income
JOIN name ON income.fips = name.fips
WHERE name = 'New Mexico'
GROUP BY name;

Q4 Per capita income for each year in New Mexico

In [ ]:
SELECT i.year, i.income, p.pop, ROUND(i.income::numeric / p.pop, 2) AS per_capita_income
FROM income i
JOIN population p ON i.fips = p.fips AND i.year = p.year
WHERE i.fips = '35'
ORDER BY i.year;

Q5: Finding the year New Mexico recahed its maximum income

In [ ]:
SELECT year, income 
FROM income 
WHERE fips = '35' AND income = (
    SELECT MAX(income) 
    FROM income 
    WHERE fips = '35'
);

Q6: Income Growth Rate for New Mexico between 2005-2019

In [ ]:
SELECT year,
       ROUND(((income - LAG(income) OVER (ORDER BY year))::numeric / LAG(income) OVER (ORDER BY year)) * 100, 2) AS growth_rate
FROM income
WHERE fips = '35';

Q7: What was the average population of New Mexico in odd-numbered years between 2005-2019?

In [ ]:
SELECT AVG(pop) AS avg_population_odd_years
FROM population
WHERE fips = '35' AND year % 2 = 1 AND year BETWEEN 2005 AND 2019;

Q8:Which year in New Mexico has the lowest per capita income between 2005-2019?

In [ ]:
SELECT i.year, i.income, p.pop, 
       ROUND(i.income::numeric / p.pop, 2) AS per_capita_income
FROM income i
JOIN population p ON i.fips = p.fips AND i.year = p.year
WHERE i.fips = '35' AND i.year BETWEEN 2005 AND 2019
ORDER BY per_capita_income ASC
LIMIT 1;

Q9: What are some limiations of using Generative AI?

Q10: What are some ethical-security concerns in relation to using Gen AI with data queries?