# IA340 Mini Project

Project Title: Understanding Access to Mental Health Care in America

## Research Question
What factors influence whether individuals seek or receive mental health treatment in the last few years?

## Dataset Documentation
- Source: https//catalog.data.gov/dataset/mental-health-care-in-the-last-4-weeks
- data.gov/dataset/mental-health-care-in-the-last-4-weeks
- Description: Mental Health Care in the last four years 
- Time Period: 2021-2025
- Reason for Choice: Shows data that explains different factors of how mental health treatment is used/isn not used in the time frame for my research question

In [26]:
import pandas as pd
df = pd.read_csv("s3://ia340rori2025/Mental_Health_Care_in_the_Last_4_Weeks (2).csv")
df.head()

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,LowCI,HighCI,Confidence Interval,Quartile Range,Suppression Flag
0,"Received Counseling or Therapy, Last 4 Weeks",By Sex,United States,Male,2,15,"Sep 16 - Sep 28, 2020",09/16/2020,09/28/2020,6.9,6.5,7.3,6.5 - 7.3,NaN,NaN
1,"Received Counseling or Therapy, Last 4 Weeks",By Sex,United States,Female,2,15,"Sep 16 - Sep 28, 2020",09/16/2020,09/28/2020,11.0,10.4,11.6,10.4 - 11.6,NaN,NaN
2,Needed Counseling or Therapy But Did Not Get I...,By Sex,United States,Female,-1,1,"Dec 22, 2020 - Jan 5, 2021",12/22/2020,01/05/2021,NaN,NaN,NaN,NaN,NaN,NaN
3,Took Prescription Medication for Mental Health...,By Age,United States,50 - 59 years,-1,1,"Mar 30 - Apr 13, 2021",03/30/2021,04/13/2021,NaN,NaN,NaN,NaN,NaN,NaN
4,Took Prescription Medication for Mental Health...,By Age,United States,60 - 69 years,-1,1,"Mar 30 - Apr 13, 2021",03/30/2021,04/13/2021,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df.info() #shows the data types and number of null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10404 entries, 0 to 10403
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Indicator               10404 non-null  object
 1   Group                   10404 non-null  object
 2   State                   10404 non-null  object
 3   Subgroup                10404 non-null  object
 4   Phase                   10404 non-null  object
 5   Time Period             10404 non-null  int64
 6   Time Period Label       10404 non-null  object
 7   Time Period Start Date  10404 non-null  object
 8   Time Period End Date    10404 non-null  object
 9   Value                   9914 non-null   float64
 10  LowCI                   9914 non-null   float64
 11  HighCI                  9914 non-null   float64
 12  Confidence Interval     9914 non-null   object
 13  Quartile Range          6732 non-null   object
 14  Suppression Flag        22 non-null     float64
dtypes: float64(4), int64(1), object(10)
memory usage: 1.2+ MB

In [28]:
df.describe() #statistical summary of the data

        Time Period        Value        LowCI       HighCI  Suppression Flag
count  10404.000000  9914.000000  9914.000000  9914.000000              22.0
mean      28.134948    17.450736    14.771565    20.475661               1.0
std       11.040210     8.270565     7.659396     9.052521               0.0
min        1.000000     1.400000     0.800000     2.000000               1.0
25%       20.000000    10.300000     8.000000    12.900000               1.0
50%       29.000000    16.200000    13.900000    19.200000               1.0
75%       37.000000    24.000000    20.800000    27.400000               1.0
max       45.000000    62.900000    53.200000    71.900000               1.0

In [32]:
#rename columns
df = df.rename(columns={"Subgroup" : "Gender", "State" : "Country"})
df.head
df[0:15] #slice by rows

,Indicator,Group,Country,Gender,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,LowCI,HighCI,Confidence Interval,Quartile Range,Suppression Flag
0,"Received Counseling or Therapy, Last 4 Weeks",By Sex,United States,Male,2,15,"Sep 16 - Sep 28, 2020",09/16/2020,09/28/2020,6.9,6.5,7.3,6.5 - 7.3,NaN,NaN
1,"Received Counseling or Therapy, Last 4 Weeks",By Sex,United States,Female,2,15,"Sep 16 - Sep 28, 2020",09/16/2020,09/28/2020,11.0,10.4,11.6,10.4 - 11.6,NaN,NaN
2,Needed Counseling or Therapy But Did Not Get I...,By Sex,United States,Female,-1,1,"Dec 22, 2020 - Jan 5, 2021",12/22/2020,01/05/2021,NaN,NaN,NaN,NaN,NaN,NaN
3,Took Prescription Medication for Mental Health...,By Age,United States,50 - 59 years,-1,1,"Mar 30 - Apr 13, 2021",03/30/2021,04/13/2021,NaN,NaN,NaN,NaN,NaN,NaN
4,Took Prescription Medication for Mental Health...,By Age,United States,60 - 69 years,-1,1,"Mar 30 - Apr 13, 2021",03/30/2021,04/13/2021,NaN,NaN,NaN,NaN,NaN,NaN
5,Took Prescription Medication for Mental Health...,By Age,United States,70 - 79 years,-1,1,"Mar 30 - Apr 13, 2021",03/30/2021,04/13/2021,NaN,NaN,NaN,NaN,NaN,NaN
6,Took Prescription Medication for Mental Health...,By Age,United States,80 years and above,-1,1,"Mar 30 - Apr 13, 2021",03/30/2021,04/13/2021,NaN,NaN,NaN,NaN,NaN,NaN
7,Took Prescription Medication for Mental Health...,By Sex,United States,Male,-1,1,"Mar 30 - Apr 13, 2021",03/30/2021,04/13/2021,NaN,NaN,NaN,NaN,NaN,NaN
8,Took Prescription Medication for Mental Health...,By Sex,United States,Female,-1,1,"Mar 30 - Apr 13, 2021",03/30/2021,04/13/2021,NaN,NaN,NaN,NaN,NaN,NaN
9,"Received Counseling or Therapy, Last 4 Weeks",By Sex,United States,Female,-1,1,"Mar 30 - Apr 13, 2021",03/30/2021,04/13/2021,NaN,NaN,NaN,NaN,NaN,NaN
10,"Received Counseling or Therapy, Last 4 Weeks",By Age,United States,40 - 49 years,-1,1,"Jul 6 - Jul 20, 2021",07/06/2021,07/20/2021,NaN,NaN,NaN,NaN,NaN,NaN
11,"Received Counseling or Therapy, Last 4 Weeks",By Age,United States,50 - 59 years,-1,1,"Jul 6 - Jul 20, 2021",07/06/2021,07/20/2021,NaN,NaN,NaN,NaN,NaN,NaN
12,"Received Counseling or Therapy, Last 4 Weeks",By Age,United States,60 - 69 years,-1,1,"Jul 6 - Jul 20, 2021",07/06/2021,07/20/2021,NaN,NaN,NaN,NaN,NaN,NaN
13,Took Prescription Medication for Mental Health...,National Estimate,United States,United States,2,13,"Aug 19 - Aug 31, 2020",08/19/2020,08/31/2020,19.4,19.0,19.8,19.0 - 19.8,NaN,NaN
14,Took Prescription Medication for Mental Health...,By Age,United States,18 - 29 years,2,13,"Aug 19 - Aug 31, 2020",08/19/2020,08/31/2020,18.7,17.2,20.3,17.2 - 20.3,NaN,NaN

In [33]:
# Drop multiple columns by name
df_cleaned = df.drop(columns=['Quartile Range', 'Suppression Flag', 'SomeOtherColumn'])

KeyError: "['SomeOtherColumn'] not found in axis"

In [30]:
# Average value per indicator
agg_by_indicator = df_cleaned.groupby('Indicator')['Value'].mean().reset_index()

NameError: name 'df_cleaned' is not defined

In [23]:
# Filter data for Virginia only
va_data = df_cleaned[df_cleaned['State'] == 'Virginia']

NameError: name 'df_cleaned' is not defined

import, clean, and process/aggregate : I cleaned my dataset by; converting the data columns to accurately measure the data in my time frame, removed the rows that had missing data, dropped columns that had too much data or wasnt relevant, ensured that the numeric values were correct, and I finally created a new variable called high/low confidence intervals to indicate the levels of both certainty and uncertainty. I ren amed some of the columns, showed the data types and its null values, as well as a statstical summary of the data. I also grouped data by the Indicator column to calculate average mental health values, supporting a comparison across service types. In addition, I filtered the data to show the relevance of mental health treatments being seeked out and used in the state of VA, since I live here and am more curious to find out the data that is closest to me.

In [24]:
import matplotlib.pyplot as plt

# Bar chart of average metric values per indicator
plt.figure(figsize=(10, 6))
plt.barh(agg_by_indicator['Indicator'], agg_by_indicator['Value'])
plt.title('Average Mental Health Metric Values by Indicator')
plt.xlabel('Average Value (%)')
plt.tight_layout()
plt.show()

NameError: name 'agg_by_indicator' is not defined

This bar chart shows how mental health services have been used and are more prevelant during the pandemic. As you can see the average value for individuals who have taken prescription medication or recieved counsueling is higher than the other values shown on the graph. It highlights that prescription use is more common than counseling.

In [17]:

# LINE CHART: U.S. National average over time
national_data = df_cleaned[df_cleaned['State'] == 'United States']
avg_by_time = national_data.groupby('Time Period Start Date')['Value'].mean().reset_index()

plt.figure(figsize=(10, 6))
plt.plot(avg_by_time['Time Period Start Date'], avg_by_time['Value'], marker='o')
plt.title('National Average Mental Health Care Value Over Time')
plt.xlabel('Time Period Start Date')
plt.ylabel('Average Value (%)')
plt.tight_layout()
plt.show()

NameError: name 'df_cleaned' is not defined

This line graph shows how the US national average trends for mental health service usage have changed over the pandemic period from 2020-2022.You can see in the graph that dyring each year the average va;ue constantly fluctuates and is never going steady direction meaning that mental health services and people who want assistance changes a lot